.chat_block {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 542px;
    border: 1px solid #dfdfdf;
    height: 100%;
    border-radius: 6px;
}

.chat_key_block {
    /*  border-bottom: 1px solid #000;*/
    display: flex;
    justify-content: center;
}

.chat_list {
    flex-grow: 3;
    flex-direction: column;
    display: flex;
}


.chat_send_block {
}

.body_block {
    width: 100%;
    height: 100%;
    background-color: #edeef0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #edeef0;
}


#MyNick {
    text-align: center;
}

#MyKey {
}

#product {
    /* border-radius: 25px;*/
}

.message {
    word-wrap: break-word;
    word-break: break-all; /* более приоритетно */
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}


.pan2 {
    height: auto;
    position: relative;
    left: 0;
    right: 0;
}

.pan1 {
    height: 100%;
    width: auto;
    height: 400px;
}

#resize {
    text-align: center;
    z-index: 1;
    cursor: s-resize
}
