@{
    ViewData["Title"] = "ChatOnline";
}
@section Styles{
<link rel="stylesheet" href="~/css/chat.css" />
<script src="~/js/signalr.min.js"></script>
}
<div class="body_block">
    <div class="chat_block">
        <div class="chat_key_block">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">&</span>
                </div>
                <input id="MyKey" type="text" class="form-control" placeholder="SetKey" aria-label="Key" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@@</span>
                </div>
                <input id="MyNick" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="chat_list pan1">
        </div>
        <div class="chat_send_block">
            <div id="inputForm">
                <input type="text" id="product" class="form-control" placeholder="Write a message" maxlength="100" />
                <div class="blockSend">
                    <a class="ImgSend" href="#">
                        <img class="imgButton" src="~/css/sendButton.png" />
                    </a>
                </div>
            </div>
            <div id="resize">...</div>
        </div>

    </div>
    <div class="pan2">
    </div>
</div>
