@{
    ViewData["Title"] = "ChatOnline";
}
@section Styles{
<link rel="stylesheet" href="~/css/chat.css" />
<script src="~/js/signalr.min.js"></script>
}
<div class="body_block">
    <div class="chat_block">
        <div class="chat_key_block">
            <a>Установите ключ, либо оставьте поле пустым или укажите 0, чтобы находиться в общем чате</a>
            <input id="MyKey" type="text" placeholder="Set a key"/>
            <a>Ваш Nickname</a>
            <input id="MyNick" type="text" placeholder="Set a key"/>
        </div>
        <div class="chat_list">
        </div>
        <div class="chat_send_block">
            <div id="inputForm">
                <input type="text" id="product" class="InputText" placeholder="Write a message" />
                <div class="blockSend">
                    <a class="ImgSend" href="#">
                        <img class="imgButton" src="~/css/sendButton.png" />
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
