@{
    ViewData["Title"] = "ChatOnline";
}
@section Styles{
<link rel="stylesheet" href="~/css/chat.css" />
<script src="~/js/signalr.min.js"></script>
}
<div class="body_block">
    <div class="chat_block">
        <div class="chat_key_block">
            <a>My key</a>
        </div>
        <div class="chat_list">
        </div>
        <div class="chat_send_block">
            <div id="inputForm">
                <input type="text" id="product" />
                <a class="SendMes">Send</a>
                <input type="button" id="sendBtn" value="Добавить" />
            </div>
        </div>

    </div>
</div>
