@{
    ViewData["Title"] = "ChatOnline";
}

<div class="chat_block">
    <div class="chat_key_block">

    </div>
    <div class="chat_list">

    </div>
    <div class="chat_send_block">

    </div>

</div>
