@{
    ViewData["Title"] = "ChatOnline";
}
@section Styles{
<link rel="stylesheet" href="~/css/chat.css" />
}
<div class="body_block">
    <div class="chat_block">
        <div class="chat_key_block">
            <a>My key</a>
        </div>
        <div class="chat_list">
            <a>My sms</a>
            <a>My sms</a>
            <a>My sms</a>
        </div>
        <div class="chat_send_block">
            <a>Send</a>
        </div>

    </div>
</div>
